/* Update the build to minify the CSS file and then copy it into the dist folder. */

/* Translate */
@property --pxx-enter-translate {
  inherits: false;
  syntax: "<transform-function>";
  initial-value: translate3d(0, 0, 0);
}

@property --pxx-center-translate {
  inherits: false;
  syntax: "<transform-function>";
  initial-value: translate3d(0, 0, 0);
}

@property --pxx-exit-translate {
  inherits: false;
  syntax: "<transform-function>";
  initial-value: translate3d(0, 0, 0);
}

/* Opacity */
@property --pxx-enter-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@property --pxx-center-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@property --pxx-exit-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

/* Animation range property */
@property --pxx-animation-range {
  syntax: "<animation-range>";
  inherits: false;
  initial-value: cover 0% cover 100%;
}

@keyframes parallaxx {
  0% {
    transform: var(--pxx-enter-translate);
    opacity: var(--pxx-enter-opacity);
  }
  50% {
    transform: var(--pxx-center-translate);
    opacity: var(--pxx-center-opacity);
  }
  100% {
    transform: var(--pxx-exit-translate);
    opacity: var(--pxx-exit-opacity);
  }
}

[data-pxx-translate],
[data-pxx-opacity] {
  animation: linear parallaxx both;
  animation-timeline: view(y);
  animation-range: var(--pxx-animation-range);
}

@media (prefers-reduced-motion) {
  [data-pxx-translate],
  [data-pxx-opacity] {
    animation: none;
    animation-timeline: none;
  }
}
